.searchfirst{
    border: 2px solid #1c45dc;
    border-radius: 25px;
}
h2.new-product-title {
    margin: 0;
    text-align: left;
    font-size: 22px;
    background: #d7202c;
    padding: 10px 20px;
    color: #fff;
    min-width: 100%;
    line-height: 1.;
    display: inline-block;
}

#search1{
    background-color: #d3d4d5;
    border-left: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
#search2{
    border-right:  2px solid #ffffff;
    border-top:  2px solid #ffffff;
    border-bottom:  2px solid #ffffff;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}


body {
  margin: 0px;
  
  }
  
  #slideshow {
    overflow: hidden;
    height: 400px;
    width: 810px;
    margin: 0 auto;
  }
  
  .slide-wrapper {
    width: 4050px;
    -webkit-animation: slide 20s ease infinite;
  }
  
  .slide {
    float: left;
    height: 400px;
    width: 810px;
    --ratio: 4 / 3;
  }
  
  
  @-webkit-keyframes slide {
    0% {margin-left: 0px;}
    20% {margin-left: -810px;}
    30% {margin-left: -810px;}
    50% {margin-left: -1620px;}
    60% {margin-left: -1620px;}
    70% {margin-left: -2430px;}
    80% {margin-left: -2430px;}
    90% {margin-left: -3240px;}
  }
  .imgshow {
    max-width: 50rem;
    border: 1px dashed rgb(255 255 255 / 0.4);
    margin-inline: auto;
    padding: 0.5rem;
    display: flex;
    align-items: flex-start;
  }
  .img1{
    aspect-ratio: var(--ratio);
    
  }
  #navigation {
    background: #FF4E50;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
  }
  #header {

      background: #780206;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  }
  #top-header {
        

      background: #870000;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  }
  #footer {
      background: #7474BF;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    color: #1E1F29;
  }
  #bottom-footer {
      background: #7474BF;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

  }
  .footer-links li a {
    color: #1E1F29;
  }
  .mainn-raised {
      
      margin: -7px 0px 0px;
      border-radius: 6px;
      box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

  }
 
  .glyphicon{
display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.glyphicon-chevron-left:before{
  content:"\f053"
}
.glyphicon-chevron-right:before{
  content:"\f054"
}
/*----- header link---*/
#top-header {
  padding-top: 3px;
  padding-bottom: 45px;

  background-color: #1E1F29;
}

.header-links li {
  float: right;
  display: inline-block;
  margin-right: 5px;
  
  font-size: 12px;
}

.header-links li:last-child {
  margin-right: 5px;
}

.header-links li a {
  color: #FFF;
}

.header-links li a:hover {
  color: #D10024;
}

.header-links li i {
  color: #D10024;
  margin-right: 5px;
}

/*--- products --*/
.product {
  background-color: #FFF;
  margin-bottom: 30px;
  border: 1px solid #FFF;
  box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
}
.product_img {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 230px;
  max-height: 363px;
  background: #FFF;
}
.product-title {
  height: 35px;
  font-size: 14px;
  margin: 10px;
}